<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs') %> 
    
<body>
    
    <%- include ('./partials/nav.ejs') %> 
    
    <div class="about content">
        <h2>About Us</h2>
        <ul>
        <li><a>My Academic Degree<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, quas magnam aliquid voluptatem consequuntur sint ipsam ut, iste accusantium vero neque porro deleniti odio in aliquam, non quod sit explicabo.</a></li>
        <li><a>My Professional Degree<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sunt hic suscipit temporibus quae architecto libero animi similique, dolorem quia exercitationem odio accusantium optio beatae. Voluptas ipsam provident est nulla!</a></li>
        <li><a>My Coding Skills<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium inventore vel eaque et odio similique iusto reiciendis accusamus reprehenderit placeat velit quo, deserunt, fugiat aperiam. Reiciendis ea adipisci corporis inventore.</a></li>
        </ul>
    </div>
    <div>
        <%- include ('./partials/footer.ejs') %> 
    </div>
</body>
</html>