<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>

        </ul>

    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <ul>
        <li><a>My Academic Degree<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, quas magnam aliquid voluptatem consequuntur sint ipsam ut, iste accusantium vero neque porro deleniti odio in aliquam, non quod sit explicabo.</a></li>
        <li><a>My Professional Degree<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sunt hic suscipit temporibus quae architecto libero animi similique, dolorem quia exercitationem odio accusantium optio beatae. Voluptas ipsam provident est nulla!</a></li>
        <li><a>My Coding Skills<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium inventore vel eaque et odio similique iusto reiciendis accusamus reprehenderit placeat velit quo, deserunt, fugiat aperiam. Reiciendis ea adipisci corporis inventore.</a></li>
        </ul>
    </div>
    
</body>
</html>